<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740233896460-6i5m162qfcbh7qhpkau1t9cq2787ht12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740233896460-6i5m162qfcbh7qhpkau1t9cq2787ht12</string>
	<key>API_KEY</key>
	<string>AIzaSyAgPd1lHLX7HVBgBjLY1gxj-CdSgBAw5ck</string>
	<key>GCM_SENDER_ID</key>
	<string>740233896460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bdfm.ipad</string>
	<key>PROJECT_ID</key>
	<string>business-live-1370</string>
	<key>STORAGE_BUCKET</key>
	<string>business-live-1370.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740233896460:ios:f331bbf6eb9c1874a10429</string>
	<key>DATABASE_URL</key>
	<string>https://business-live-1370.firebaseio.com</string>
</dict>
</plist>