<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740233896460-f37pn9cnpcgu1s7q6j11al2sj7n74ep3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740233896460-f37pn9cnpcgu1s7q6j11al2sj7n74ep3</string>
	<key>API_KEY</key>
	<string>AIzaSyAgPd1lHLX7HVBgBjLY1gxj-CdSgBAw5ck</string>
	<key>GCM_SENDER_ID</key>
	<string>740233896460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arena.businessday.dev</string>
	<key>PROJECT_ID</key>
	<string>business-live-1370</string>
	<key>STORAGE_BUCKET</key>
	<string>business-live-1370.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740233896460:ios:29bf20f438584429a10429</string>
	<key>DATABASE_URL</key>
	<string>https://business-live-1370.firebaseio.com</string>
</dict>
</plist>